@model string

<div style="border: 1px solid deeppink; padding: 20px;">
    <p>This is my partial view @Model</p>

    <a class="hideInPDF" href="/">Go home</a>

    <p>You can see the home link is hidden in the PDF!</p>

</div>